# TOPIC: String Based Assignment Problem

### 1. Write a program to reverse a string.

In [1]:
str1 = "Lalit"
reversed_str1 = str1[::-1]
print("Reversed string is :",reversed_str1)

Reversed string is : tilaL

### 2. Check if a string is a palindrome.

In [6]:
str2 = "naman"
reversed_str2 = str2[::-1]

if str2 == reversed_str2 :
    print("String is palindrome.")
else :
    print("String isn't palindrome.")

String is palindrome.

### 3. Convert a string to uppercase.

In [6]:
str3 = input("Enter your string :").upper()
print("Uppercase string is :", str3)

Enter your string : Lalit

Uppercase string is : LALIT

### 4. Convert a string to lowercase.

In [8]:
str4 = input("Enter your string :").lower()
print("Lowercase string is :",str4)

Enter your string : LALIT

Lowercase string is : lalit

### 5. Count the number of vowels in a string

In [11]:
str5 = input("Enter your string :").lower()
a = str5.count("a")
e = str5.count('e')
i = str5.count('i')
o = str5.count('o')
u = str5.count('u')

vowels = a+e+i+o+u

print("Total vowels in your string are :", vowels)

Enter your string : My name is Lalit Khare

Total vowels in your string are : 7

### 6. Count the number of consonants in a string.

In [12]:
str6 = input("Enter your strig :").lower()

a = str6.count("a")
e = str6.count("e")
i = str6.count("i")
o = str6.count("o")
u = str6.count("u")

vowels = a+e+i+o+u
length = len(str6.replace(" ",""))
consonants = length - vowels

print("Total consonants in your string are :",consonants)

Enter your strig : Be a good person

Total consonants in your string are : 7

### 7. Remove all whitespaces from a string.

In [14]:
str7 = input("Enter your string :").replace(" ","")
print("String without whitespaces is :",str7)

Enter your string : Songs are the best medicine

String without whitespaces is : Songsarethebestmedicine

### 8. Find the length of a string without using the `len()` function.

In [16]:
str8 = input("Enter your string :")
length =0

for i in str8 :
    length = length+1
    
print("Length of the string is :",length)

Enter your string : AI is going to be a challange

Length of the string is : 29

### 9. Check if a string contains a specific word

In [20]:
str9 = input("Enter your string :").lower()
word = input("Enter which word you wanna check :")

if str9.find(word) != -1 :
    print("Your word",word,"is available in string.")
    
else :    
    print("Your word",word,"isn't available in string.")

Enter your string : lalit khare
Enter which word you wanna check : a

Your word a is available in string.

### 10. Replace a word in a string with another word.

In [31]:
str10 = "lalit"
print(str10.replace("l","s"))

sasit

### 11. Count the occurrences of a word in a string.

In [32]:
str11 = input("Enter your string :").lower()
word = input("Enter the word for which you wanna count the ocurences :")
count = str11.count(word)
print("Total occurences of the word",word, "are :",count)

Enter your string : OM NAMAH SHIVAY
Enter the word for which you wanna count the ocurences : a

Total occurences of the word a are : 3

### 12. Find the first occurrence of a word in a string.

In [38]:
str12 = input("Enter your string :").lower()
word = input("Enter the the word for which you wanna check occurence :").lower()
ind_value = str12.find(word)

if ind_value != -1 :
    print("First occurence of your entered word in string is at",ind_value+1,"position.")
    
else :    
    print("The word you entered isn't available in string.")

Enter your string : good morning
Enter the the word for which you wanna check occurence : m

First occurence of your entered word in string is at 6 position.

### 13. Find the last occurrence of a word in a string.

In [3]:
str13 = input("Enter your string :").lower()
word2 = input("Enter the word for which you wanna check last occurence :").lower()
ind_value2 = str13.rfind(word2)

if ind_value2 != -1 :
    print("Last occurence of your word is at :",ind_value2+1,"position.")
    
else :
    print("Your word isn't available in the string.")

Enter your string : John bnega Don.
Enter the word for which you wanna check last occurence : a

Last occurence of your word is at : 10 position.

### 14. Split a string into a list of words.

In [5]:
str14 = input("Enter your string :").replace(" ","")
print("List of spilitted string is", list(str14))

Enter your string : DR Jhatka

List of spilitted string is ['D', 'R', 'J', 'h', 'a', 't', 'k', 'a']

### 15. Join a list of words into a string.

In [12]:
list1 = ['T','h','e','n','a','m','e','i','s','i','n','s','p','e','c','t','o','r','C','h','i','n','g','u','m']
j = 0
str15 = ''
for i in list1 :
    str15 +=list1[j]
    j+=1
print("String for the list is :", str15)

String for the list is : ThenameisinspectorChingum

### '''16. Convert a string where words are separated by spaces to one where words
are separated by underscores.'''

In [14]:
str16 = input("Enter your string :").replace(" ","_")
print("String in which words are seperated by underscore is :",str16)

Enter your string : Khali pet mere dimaag ki batti nahi jalti.

String in which words are seperated by underscore is : Khali_pet_mere_dimaag_ki_batti_nahi_jalti.

### 17. Check if a string starts with a specific word or phrase

In [19]:
str17 = input("Enter your string :").lower()
word_or_phrase = input("Enter the word or phrase you wanna check for the string :").lower()

if str17.startswith(word_or_phrase) == True :
    print("Yes, this string starts with your given word/phrase.")
    
else :    
    print("No, String doesn't start with your given word/phrase.")

Enter your string : kasam mere mareejo ki
Enter the word or phrase you wanna check for the string : mareej

No, String doesn't start with yoyr given word/phrase.

### 18. Check if a string ends with a specific word or phrase.

In [21]:
str18 = input("Enter your string :").lower()
word_or_phrase = input("Enter the word or phrase you wanna check for the string :").lower()

if str18.endswith(word_or_phrase) == True :
    print("Yes, this string ends with your given word/phrase.")
    
else :    
    print("No, String doesn't end with your given word/phrase.")

Enter your string : mera 20 saal ka tojurba hai
Enter the word or phrase you wanna check for the string : hai

Yes, this string ends with your given word/phrase.

### 19. Convert a string to title case (e.g., "hello world" to "Hello World")

In [24]:
str19 = input("Enter yout string :")
print("Title for your string is :",str19.title())

Enter yout string : ai & robotics

Title for your string is : Ai & Robotics

### 20. Find the longest word in a string.

In [27]:
list3 = input("Enter your string :").split()
longest_word = max(list3, key=len)
print("Lonngest word in the string is :",longest_word)

Enter your string : rahat fateh ali khan

Lonngest word in the string is : rahat

### 21. Find the shortest word in a string.

In [2]:
list4 = input("Enter your string :").split()
shortest_word = min(list4, key = len)
print("The shortest word in the string is :", shortest_word)

Enter your string : this is the college

The shortest word in the string is : is

### 22. Reverse the order of words in a string

In [15]:
list5 = input("Enter the string :").split()
j = -1
reversed_str7 = ""
for i in range(0,len(list5)) :
    reversed_str7 += list5[j] + " "
    j-=1
    
print("Reversed string is :",reversed_str7)

Enter the string : what is this

Reversed string is : this is what

### 23. Check if a string is alphanumeric.

In [21]:
str20 = input("Enter your string :")

if str20.isalnum() == True :
    print("String is alphanumeric.")
    
else :    
    print("String isn't alphanumeric.")

Enter your string : h5

String is alphanumeric.

### 24. Extract all digits from a string.

In [65]:
str21 = input("Enter your string :")
list6 = []

for i in str21 :
    if i.isdigit() :
        list6 += i
        
print("All the digits in your string are :", list6)

Enter your string : today is 26th november 2023

All the digits in your string are : ['2', '6', '2', '0', '2', '3']

### 25. Extract all alphabets from a string.

In [67]:
str22 = input("Enter your string :")
list7 = []

for i in str22 :
    if i.isalpha() :
        list7 += i
        
print("All the alphabates in your string are :", list7)

Enter your string : yesterday was 25th november 2023

All the alphabates in your string are : ['y', 'e', 's', 't', 'e', 'r', 'd', 'a', 'y', 'w', 'a', 's', 't', 'h', 'n', 'o', 'v', 'e', 'm', 'b', 'e', 'r']

### 26. Count the number of uppercase letters in a string.

In [69]:
str23 = input("Enter your string :")
uppercase_letter = 0

for i in str23 :
    if i.isupper() :
        uppercase_letter += 1
print("Total Uppercase letter in your string are :", uppercase_letter)

Enter your string : Chota Bheem

Total Uppercase letter in your string are : 2

### 27. Count the number of lowercase letters in a string.

In [72]:
str24 = input("Enter your string :")
lowercase_letter = 0

for i in str24 :
    if i.islower() :
        lowercase_letter += 1
    
print("Total Lowercase letters in your string are :", lowercase_letter)

Enter your string : My Name is Hero

Total Lowercase letters in your string are : 9

### 28. Swap the case of each character in a string.

In [74]:
str25 = input("Enter your string :").swapcase()
print("Changed character case string is :", str25)

Enter your string : The name is Inspector Chingum

Changed character case string is : tHE NAME IS iNSPECTOR cHINGUM

### 29. Remove a specific word from a string.

In [85]:
str26 = input("Enter your string :")
word = input("Enter the word which you wanna remove from your string :")

str27 = str26.replace(word.lower(),'')
str28 = str27.replace(word.upper(),'')
print("String with removed word is :", str28)

Enter your string : Me hu doreamon
Enter the word which you wanna remove from your string : m

String with removed word is : e hu doreaon

### 30. Check if a string is a valid email address.

In [56]:
email = input("Enter your email :")
a,b,c,d,e = 0,0,0,0,0

if len(email) >= 6 :
    if email[0].isalpha() :
        if ("@" in email) and (email.count("@") == 1) :
            if (email[-3] == ".") ^ (email[-4] == ".") :
                for i in email :
                    if i.isspace() :
                        print("Wrong Email, Email can't have space.")
                    elif i.isalpha() :
                        a = 1
                        if i == i.upper() :
                            print("Wrong Email, all the alphabtates in Email should be in lowercase.")
                    elif i == "_" or i == "." :
                        b = 1
                        if ("_" in email) and ("." in email) :
                            if (email.index("_") == email.index(".") +1) or (email.index("_") == email.index(".") -1) :
                                e = 1  
                    elif i == "@" or i.isdigit() :
                        c = 1
                    else :
                        d = 1
                if d == 1 :
                        print("Wrong Email, Email can't have special characters like #,$,% etc.")
                elif e == 1 :
                    print("Wrong Email, Email can't have '.' & '_' together.")
                elif d == 0 :
                        print("Email is valid.")
            else :
                print('''Wrong Email, if you are cerating example@ex.in type email, then '.' should be at 3rd last position
                or you are creating example@gmail.com, then '.' should be at 4th last position.''')
        else :
            print("Wrong Email, Email should've '@' atleast & only one time.")
    else :
        print("Wromg Email, Email should start with an alphabate.")
else :
    print("Wrong Email, Email should've atleast 6 characters.")

Enter your email : example@123.in

Email is valid.

### 31. Extract the username from an email address string.

In [59]:
email1 = input("Enter your valid Email address :")
username = ""
for i in email1 :
    if i.isalpha():
        username += i
    elif i.isdigit() :
        username += i
    elif i == "@" :
        break
print("Username is :", username)

Enter your valid Email address : user12@gmail.com

Username is : user12

### 32. Extract the domain name from an email address string.

In [67]:
email2 = input("Enter your valid Email :")
domain = ""
a = email2.index("@")

for i in range(a+1,len(email2)) :
    if email2[i] == "." :
        break
    else :
        domain += email2[i]
print("Doamin is :",domain)

Enter your valid Email : username@domain.com

Doamin is : domain

### 34. Check if a string is a valid URL.

In [16]:
import re                   # we are uisng RegEx module for the validation of url 

url = input("Enter the Url :")
url_pattern = re.compile(r"https?://\w+\.\w+")             # defining regular expression for valid url

if re.match(url_pattern,url) :                          # validiating the url
    print("Url is Valid.")
else :
    print("Url is Invalid")

Enter the Url : https://www.geeksforgeeks.org

Url is Valid.

### 35. Extract the protocol (http or https) from a URL string.

In [1]:
url = input("Enter the url :")

if url[4] == 's' :
    print('https')
elif url[3] == 'p' :
    print('http')

Enter the url : https://en.wikipedia.org/wiki/Internet#Terminology

https

### 33. Replace multiple spaces in a string with a single space

In [5]:
str29 = input("Enter your string :")
list8 = str29.split()
str30 = " ".join(list8)
print("String with removed multiple spaces is :",str30)

Enter your string : me      hu ninja       hathori

String with removed multiple spaces is : me hu ninja hathori

### 36. Find the frequency of each character in a string.

In [11]:
str31 = input("Enter your string :").lower()
set1 = set(str31.replace(' ',''))
for i in set1 :
    count = str31.count(i)
    print(i,"in you string is",count,"time(s).")

Enter your string : Lalit Khare

i in you string is 1 time(s).
e in you string is 1 time(s).
l in you string is 2 time(s).
h in you string is 1 time(s).
k in you string is 1 time(s).
r in you string is 1 time(s).
a in you string is 2 time(s).
t in you string is 1 time(s).

### 37. Remove all punctuation from a string.

In [8]:
str32 = input("Enter your string :")
str33 ='''`~!@#$%^&*()_-{}[]:;"'<>,.\/|?'''

for i in str33 :
    if i in str32 :
        str32 = str32.replace(i,"")
        
print("Your String without punctuation is :", str32)

Enter your string : Lalit, Khare

Your String without punctuation is : Lalit Khare

### 38. Check if a string contains only digits.

In [11]:
str34 = input("Enter your string :")

if str34.isnumeric() :
    print("String only conatins digit.")
elif str34.isalpha() :
    print("String contains alphabates only.")
else :
    print("String contains alphabates & digits both.")

Enter your string : Lalit

String contains alphabates only.

### 39. Check if a string contains only alphabets.

In [12]:
str35 = input("Enter your string :")

if str35.isnumeric() :
    print("String only conatins digit.")
elif str35.isalpha() :
    print("String contains alphabates only.")
else :
    print("String contains alphabates & digits both.")

Enter your string : 634pe

String contains alphabates & digits both.

### 40. Convert a string to a list of characters.

In [13]:
list9 = list(input("Enter your string :"))
print("String converted into list is :",list9)

Enter your string : Raise your hands.

String converted into list is : ['R', 'a', 'i', 's', 'e', ' ', 'y', 'o', 'u', 'r', ' ', 'h', 'a', 'n', 'd', 's', '.']

### 41. Check if two strings are anagrams.

In [21]:
list10 = list(input("Enter 1st string :").lower())
list11 = list(input("Enter 2nd string :").lower())

if len(list10) == len(list11) :
    set2 = set(list10)
    set3 = set(list11)
    
    if set2 == set3 :
        print("Both the strings are anagrams.")
    else :
        print("Both strings aren't anagrams.")

else :
    print("Both strings aren't anagrams.")

Enter 1st string : lalit
Enter 2nd string : l@lit

Both strings aren't anagrams.

### 42. Encode a string using a Caesar cipher.

In [13]:
plain_text = input("Enter your message :").split()
key = int(input("Enter the Encryption Key :"))
alphabates_list = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

for i in range(len(plain_text)) :
    cipher_text = ""
    word = plain_text[i]
    for j in range(len(word)) :
        character = word[j]
        if character.isupper() :
            character_index = alphabates_list.index(character.lower())
            cipher_text += (alphabates_list[(character_index+key)%26]).upper()
        else :
            character_index = alphabates_list.index(character)
            cipher_text += alphabates_list[(character_index+key)%26]
    plain_text.remove(word)
    plain_text.insert(i,cipher_text)
    
Encoded_str = " ".join(plain_text)
print("Encoded Message is :",Encoded_str)

Enter your message : Hello Brother
Enter the Encryption Key : 3

Encoded Message is : Khoor Eurwkhu

### 43. Decode a Caesar cipher encoded string.

In [15]:
cipher_text = input("Enter the Cipher Text :\n").split()
key = int(input("Enter the Decryption Key :\n"))
alphabates_list = list("abcdefghijklmnopqrstuvwxyz")

for i in range(len(cipher_text)) :
    plain_text = ""
    word = cipher_text[i]
    for j in range(len(word)) :
        character = word[j]
        if character.isupper() :
            char_index = alphabates_list.index(character.lower())
            plain_text += (alphabates_list[(char_index-key)%26]).upper()
        else :
            char_index = alphabates_list.index(character)
            plain_text += alphabates_list[(char_index-key)%26]
    cipher_text.remove(word)
    cipher_text.insert(i,plain_text)
    
Decoded_message = " ".join(cipher_text)
print("Decoded Message is :",Decoded_message)

Enter the Cipher Text :
 Khoor Eurwkhu
Enter the Decryption Key :
 3

Decoded Message is : Hello Brother

### 44. Find the most frequent word in a string.

In [30]:
str36 = input("Enter your string :").replace(" ","")
str36 = str36.lower()
set4 = set(str36)
j = 0
for i in str36 :
    i_count = str36.count(i)
    
    if i_count > j :
        j = i_count
        word = i.upper()
        
    elif i_count == j :
        print(i.upper(),"has also same frequency as",word)
    
print("Most frequent word in string is",word,"& its frequency is",j)

Enter your string : Red bull gives you wings

U has also same frequency as E
L has also same frequency as E
L has also same frequency as E
G has also same frequency as E
I has also same frequency as E
E has also same frequency as E
S has also same frequency as E
U has also same frequency as E
I has also same frequency as E
G has also same frequency as E
S has also same frequency as E
Most frequent word in string is E & its frequency is 2

### 45. Find all unique words in a string.

In [1]:
str37 = input("Enter your string :").lower()
set5 = set(str37)
list12 = []

for i in set5 :
    if i.isalpha() :
        list12 += i

print("All unique words in string are :",list12)

Enter your string : what is your name

All unique words in string are : ['m', 'a', 'i', 'o', 'w', 'u', 'y', 'r', 'e', 'n', 't', 'h', 's']

### 46. Count the number of syllables in a string.

In [23]:
sentence = input("Enter your string :").split()
syllables = "aeiouy" 
total_syllables = 0
for word in sentence :
    word = word.lower()
    if word[0] in syllables :
        total_syllables += 1
    for i in range(1,len(word)) :
        if word[i] in syllables and word[i-1] not in syllables :
            total_syllables += 1
    if word.endswith("e") :
        total_syllables -= 1
    
if total_syllables == 0 :
    total_syllables = 1
    
print("Total Syllables in String are : ",total_syllables)

Enter your string : hello bro it's me

Total Syllables in String are :  4

### 47. Check if a string contains any special characters.

In [1]:
list13 = input("Enter your string :").split()
str38 = '''`~!@#$%^&*()_-{}[]:;"'<>,.\/|?'''
k =0
list14 = []

for i in list13 :
    for j in str38 :
        if j in list13[k]:
            list14 += j
    k +=1

set6 = set(list14)

if len(set6) > 0 :
    print("Special characters in your string are :",set6)
else :
    print("There is no special character in your string.")

Enter your string : L@lit Kh@re.

Special characters in your string are : {'@', '.'}

### 48. Remove the nth word from a string.

In [17]:
list15 = input("Enter your string :").split()
term = int(input("Enter the number of the turn which you wanna remove from string :")) - 1

list15.pop(term)
str39 = ''
for i in list15 :
    str39 += i + ' '
    
print("String with removed term is :",str39)

Enter your string : hello how are you
Enter the number of the turn which you wanna remove from string : 2

String with removed term is : hello are you

### 49. Insert a word at the nth position in a string.

In [19]:
user_str1 = input("Enter your String :\n")
user_word = input("Enter the word you wanna insert insdie the string :\n")
position1 = int(input("Enter the position at which you wanna insert your word :\n"))

user_list1 = user_str1.split()
user_list1.insert(position1-1,user_word)
print("Updated String is :"," ".join(user_list1))

Enter your String :
 hello brother are you
Enter the word you wanna insert insdie the string :
 how
Enter the position at which you wanna insert your word :
 3

Updated String is : hello brother how are you

### 50. Convert a CSV string to a list of lists.

In [1]:
csv_str = input("Enter your CSV String :")
list1 = csv_str.split(',')                   # splitting the string wherever there is comma.
print(list1)
list_of_lists = []

for i in list1 :
    list_of_lists.append(i.split(' '))      # splitting the element of list wherever the is space & than appending to new list.
    
print("Lis of lists of CSV String is \n",
     list_of)

Enter your CSV String : hello, i am lalit khare, i am 20 years old

['hello', ' i am lalit khare', ' i am 20 years old']

# List Based Practice Problem :

### 1. Create a list with integers from 1 to 10.

In [29]:
list16 = []
for i in range(1,11) :
    list16.append(i)
print(list16)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [21]:
list17 = input("Enter your list, seprated by spaces :").split()
j = 0
for i in list17 :
    j += 1
print("Length of your list is",j)

Enter your list, seprated by spaces : 1 2 3 your name fix it

Length of your list is 7

### 3. Append an element to the end of a list.

In [27]:
list18 = list(input("Enter your list, seprated by space :").split())
element1 = input("Enter the element, you wanna add to the end of the list :")
list18.append(element1)
print("Edited list is :",list18)

Enter your list, seprated by space : Your name
Enter the element, you wanna add to the end of the list : adinath

Edited list is : ['Your', 'name', 'adinath']

### 4. Insert an element at a specific index in a list.

In [30]:
list19 = list(input("Enter your list, seprated by space :").split())
element2 = input("Enter the element you wanna insert in list :")
index1 = int(input("Enter number of term where youbwanna insert your element :"))
list19.insert((index1 -1),element2)
print("Edited list is :",list19)

Enter your list, seprated by space : 1 2 3 4
Enter the element you wanna insert in list : just
Enter number of term where youbwanna insert your element : 2

Edited list is : ['1', 'just', '2', '3', '4']

### 5. Remove an element from a list by its value.

In [33]:
list20 = list(input("Enter your list, seprated by space :").split())
element3 = input("Enter the element you wanna remove from list :")
list20.remove(element3)
print("Edited list is :",list20)

Enter your list, seprated by space : hello 1 remove 2 3
Enter the element you wanna remove from list : hello

Edited list is : ['1', 'remove', '2', '3']

### 6. Remove an element from a list by its index.

In [34]:
list21 = list(input("Enter your list, seprated by space :").split())
index2 = int(input("Enter the index value of the element which you wanna remove :"))
list21.pop(index2)
print("Edited list is :",list21)

Enter your list, seprated by space : 1 2 3 word is game
Enter the index value of the element which you wanna remove : 2

Edited list is : ['1', '2', 'word', 'is', 'game']

### 7. Check if an element exists in a list.

In [2]:
list22 = list(input("Enter the list, seprated by space :").split())
element3 = input("Enter the element which you wanna check in list :")

if element3 in list22 :
    print(element3,"exists in the list.")
else :
    print(element3,"doesn't exist in the list.")

Enter the list, seprated by space : hero is a superman
Enter the element which you wanna check in list : women

women doesn't exist in the list.

### 8. Find the index of the first occurrence of an element in a list

In [5]:
list23 = list(input("Enter element of the list, seprated by space :").split())
element4 = input("Enter the element whose occurence you wanna check :")

if element4 in list23 :
    ele_index = list23.index(element4)
    print(element4,"is present in list at the index value of",ele_index)
else :
    print(element4,"doesn't exist in the list.")

Enter element of the list, seprated by space : 1 2 3 4 5 6 '
Enter the element whose occurence you wanna check : 3

3 is present in list at the index value of 2

### 9. Count the occurrences of an element in a list.

In [10]:
list24 = list(input("Enter the elements of the list separated by space :").split())
element5 = input("Enter the element whose occurence you wanna check :")

ele_count = list24.count(element5)
print("Occurence of",element5,"in list is",ele_count)

Enter the elements of the list separated by space : 1 2 3 4 5  6
Enter the element whose occurence you wanna check : 0

Occurence of 0 in list is 0

### 10. Reverse the order of elements in a list.

In [3]:
list25 = list(input("Enter your list :").split())
list25.reverse()
print("Reversed list is :",list25)

Enter your list : 1 2 3 4 5

Reversed list is : ['5', '4', '3', '2', '1']

### 11. Sort a list in ascending order.

In [7]:
list26 = list(map(int,input("Enter the elements of the list separated by spaces :").split()))
list26.sort()
print("List in ascending order is :",list26)

Enter the elements of the list separated by spaces : 1 2 3 4 5 0 3

List in ascending order is : [0, 1, 2, 3, 3, 4, 5]

### 12. Sort a list in descending order.

In [8]:
list26 = list(map(int,input("Enter the elements of the list separated by spaces :").split()))
list26.sort(reverse = True)
print("List in descending order is :",list26)

Enter the elements of the list separated by spaces : 1 2 3 4 5

List in descending order is : [5, 4, 3, 2, 1]

### 13. Create a list of even numbers from 1 to 20.

In [14]:
list27 = []
for i in range(1,21) :
    if i%2 == 0 :
        list27.append(i)
print(list27)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [13]:
list28 = []
for i in range(1,21) :
    if i%2 != 0 :
        list28.append(i)
print(list27)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [15]:
list29 = list(map(int,input("Enter the digit element of the list :").split()))
j = 0
for i in list29 :
    j += i
print("Sum of all the elements of the list is :",j)

Enter the digit element of the list : 1 2 3 4 5 6 7 8 88 12

Sum of all the elements of the list is : 136

### 16. Find the maximum value in a list.

In [13]:
list30 = list(map(int,input("Enter the digit element of the list :").split()))
max_value = max(list30)
print("Maximum value in list is",max_value)

Enter the digit element of the list : 1 2 7 3 9 10 3 4 5 11

Maximum value in list is 11

### 17. Find the minimum value in a list.

In [12]:
list30 = list(map(int,input("Enter the digit element of the list :").split()))
min_value = min(list30)
print("Minimum value in list is :",min_value)

Enter the digit element of the list : 11 2 3 4 5 -3

Minimum value in list is : -3

### 18. Create a list of squares of numbers from 1 to 10.

In [23]:
list31 = []
for i in range(1,11) :
    list31.append(i*i)
print(list31)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [31]:
import random

a,b = map(int,(input("Enter the lower and upper range of the numbers in your list(Separated by space) :").split()))
len_list32 = int(input("Enter the length of the list :"))
list32 = []

for i in range(0,len_list32) :
    list32.append(random.randint(a,b+1))
print("List of random integers is :",list32)

Enter the lower and upper range of the numbers in your list(Separated by space) : 0 10
Enter the length of the list : 4

List of random integers is : [10, 7, 5, 6]

### 20. Remove duplicates from a list.

In [32]:
set7 = set(input("Enter the elements of the list (separated by spaces)) :").split())
print("List without duplicates is :",list(set7))

Enter the elements of the list (separated by spaces)) : 1 2 3  2 5 6 3 1 8

List without duplicates is : ['1', '3', '2', '5', '6', '8']

### 21. Find the common elements between two lists.

In [35]:
list33 = list(input("Enter elements of the 1st list (separated by spaces) :").split())
list34 = list(input("Enter elements of the 2nd list (separated by spaces) :").split())
list35 = []

for i in list33 :
    if i in list34 :
        list35.append(i)
print("Similiar elements in both the lists are :",set(list35))

Enter elements of the 1st list (separated by spaces) : word 1 2 3 947 b8e8 9eyuhr 309 39 5387 199 1 2 2
Enter elements of the 2nd list (separated by spaces) : word ihe 7eb eukm 36   1 3 38 30 02

Similiar elements in both the lists are : {'word', '1', '3'}

### 22. Find the difference between two lists.

In [43]:
set8 = set(input("Enter elements of the 1st list (separated by spaces) :").split())
set9 = set(input("Enter elements of the 2nd list (separated by spaces) :").split())
print("The difference between the 2 lists is :",set(list(set9-set8) + list(set8-set9)))

Enter elements of the 1st list (separated by spaces) : 1 2 3 4 9
Enter elements of the 2nd list (separated by spaces) : 1 2 3 0 hey bro

The difference between the 2 lists is : {'0', 'bro', '9', 'hey', '4'}

### 23. Merge two lists.

In [45]:
list36 = list(input("Enter the elements of the 1st list :").split())
list37 = list(input("Enter the elements of the 2nd list :").split())
print("Merged list is :",list36+list37)

Enter the elements of the 1st list : 1 2 3 hello
Enter the elements of the 2nd list : 4 5 6 broi

Merged list is : ['1', '2', '3', 'hello', '4', '5', '6', 'broi']

### 24. Multiply all elements in a list by 2.

In [3]:
list38 = list(map(int,input("Enter the elements of the list :").split()))
j = 0

for i in list38 :
    list38[j] = list38[j]*2
    j += 1
print(list38)

Enter the elements of the list : 1 2 4 0

[2, 4, 8, 0]

### 25. Filter out all even numbers from a list.

In [4]:
list39 = list(map(int,input("Enter the elements of the list :").split()))
list40 = []

for i in list39 :
    if i%2 == 0:
        list40.append(i)
print("All even numbers in your list are :",list40)

Enter the elements of the list : 1 2 3 4 6 7 8 10 45

All even numbers in your list are : [2, 4, 6, 8, 10]

### 26. Convert a list of strings to a list of integers.

In [18]:
list41 = list(input("Enter the elements of the list :").split())
list42 = list(map(int, list41))
print("List of integers is :",list42)

Enter the elements of the list : 1 2 3 4

List of integers is : [1, 2, 3, 4]

### 27. Convert a list of integers to a list of strings.

In [19]:
list43 = [2,4,5,78,90,1,4]
list44 = list(map(str,list43))
print("List of strings is :",list44)

List of strings is : ['2', '4', '5', '78', '90', '1', '4']

### 28. Flatten a nested list.

In [15]:
list45 = [1,2,3,["hero","superman"],[4,5,6],"Hello"]
list_k = []
a = 0
len_list45 = len(list45)

for i in range(len_list45) :
    if type(list45[a]) == list :
        list_k += list45[a]
        list45.remove(list45[a])
        a -= 1
    a += 1
list45 += list_k
print("Flatten list is :",list45)

Flatten list is : [1, 2, 3, 'Hello', 'hero', 'superman', 4, 5, 6]

### 29. Create a list of the first 10 Fibonacci number.

In [19]:
fib_no = int(input("Enter the number of term of fibonacci series :"))
list46 = [0,1]

for i in range(fib_no-2) :
    list46.append(list46[i] + list46[i+1])
print("Fibonacci Series :",list46)

Enter the number of term of fibonacci series : 12

Fibonacci Series : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

### 30. Check if a list is sorted.

In [7]:
list47 = list(map(int, input("Enter the elements of the list:").split()))
list48 = list47.copy()
list47.sort()

if list47 == list48 :
    print("List is sorted in ascending order.")
else :    
    list47.sort(reverse = True) 
    if list47 == list48 :
        print("List is sorted in descending order.")
    else :
        print("List is unsorted.")

Enter the elements of the list: 2 4 1 0 5

List is unsorted.

### 31. Rotate a list to the left by `n` positions.

In [10]:
list49 = [1,2,3,4,5,6]
l_rotate = int(input("Enter the no of rotation :"))
list50 = []
for i in range(l_rotate) :
    a = list49[0]
    list49.pop(0)
    list50.append(a)
print("Rotated list is :",list49+list50)

Enter the no of rotation : 2

Rotated list is : [3, 4, 5, 6, 1, 2]

### 32. Rotate a list to the right by `n` positions.

In [11]:
list51 = [1,2,3,4,5,6]
l_rotate = int(input("Enter the no of rotation :"))
list52 = []
for i in range(l_rotate) :
    a = list51[-1]
    list51.pop()
    list52.append(a)
list52.reverse()
print("Rotated list is :",list52+list51)

Enter the no of rotation : 2

Rotated list is : [5, 6, 1, 2, 3, 4]

### 33. Create a list of prime numbers up to 50.

In [15]:
list53 = []
for num in range(2,51) :
    
    if num%2 == 0 and num != 2:
        continue
    elif num%3 == 0 and num != 3:
        continue
    elif num%5 == 0 and num != 5:
        continue
    elif num%7 == 0 and num != 7 :
        continue
    elif num%(num)**(1/2) == 0 :
        continue
    else :
        list53.append(num)
print("List of prime numbers upto 50 is :",list53)

List of prime numbers upto 50 is : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34. Split a list into chunks of size `n`.

In [8]:
import math

list54 = list(input("Enter the elements of the list(separated by space) :").split())
size_n = int(input("Enter the number of chunks to split the list :"))
k = 0
list55 = []
list54_parts = math.ceil(len(list54)/size_n)

for i in range(list54_parts) :
    for j in range(size_n) :
        if k < len(list54) :
            list55 += list54[k]
            k += 1
    print(i+1,"list is :",list55)
    list55.clear()

Enter the elements of the list(separated by space) : 1 2 3 4 5 6 7 8 9 0
Enter the number of chunks to split the list : 3

1 list is : ['1', '2', '3']
2 list is : ['4', '5', '6']
3 list is : ['7', '8', '9']
4 list is : ['0']

### 35. Find the second largest number in a list.

In [14]:
set10 = set(map(int,input("Enter the elements of the list :").split()))
list56 = list(set10)
list56.sort()
print("Second largest number in list is :",list56[-2])

Enter the elements of the list : 5  6 2 4

Second largest number in list is : 5

### 36. Replace every element in a list with its square.

In [18]:
list57 = list(map(int,input("Enter the elements of the list :").split()))

for i in range(len(list57)) :
    list57[i] = list57[i]**2
print(list57)

Enter the elements of the list : 1 2 3 4

[1, 4, 9, 16]

### '''37. Convert a list to a dictionary where list elements become keys and their
indices become values.'''

In [23]:
list58 = list(input("Enter the elements of the list :").split())

dict1 = {}

for i in range(len(list58)) :
    dict1.update({list58[i] : i})
print(dict1)

Enter the elements of the list : 1 2 3

{'1': 0, '2': 1, '3': 2}

### 38. Shuffle the elements of a list randomly.

In [1]:
import random

list59 = list(input("Enter elements of the list :").split())
random.shuffle(list59)
print(list59)

Enter elements of the list : 1 2 3 4 5 6 7

['2', '6', '1', '5', '4', '3', '7']

### 39. Create a list of the first 10 factorial numbers.

In [14]:
list60 = [1]
for i in range(2,11) :
    a = i
    for j in range(i-1,0,-1) :
        a *= j
    list60.append(a)
print("List of factorial of first 10 Numbers is :",list60)

List of factorial of first 10 Numbers is : [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

### 40. Check if two lists have at least one element in common

In [16]:
list61 = input("Enter the element of first list :").split()
list62 = input("Enter the element of second list :").split()
list63 = []

if len(list61) >= len(list62) :
    for i in range(0,len(list61)) :
        for j in range(0,len(list62)) :
            if list61[i] == list62[j] :
                list63 += list61[i]
                
else :
    for i in range(0,len(list62)) :
        for j in range(0,len(list61)) :
            if list62[i] == list62[j] :
                list63 += list62[i]

if len(list63) > 0 :
    print("Common elements in both lists are :",list63)
else :
    print("There are no common elements in both lists.")

Enter the element of first list : 1 2 3 4 5
Enter the element of second list : 5 6 7 8

Common elements in both lists are : ['5']

### 41. Remove all elements from a list.

In [17]:
list64 = [1,2,3,4]
list64.clear()
print("Clear list is :",list64)

Clear list is : []

### 42. Replace negative numbers in a list with 0.

In [3]:
list65 = list(map(int,input("Enter the elements of the list :").split()))

for i in list65 :
    if i < 0 :
        i_index = list65.index(i)
        list65[i_index] = 0
print("List without negative numbers :",list65)

Enter the elements of the list : 1 -2 3 4 -5

List without negative numbers : [1, 0, 3, 4, 0]

### 43. Convert a string into a list of words.

In [4]:
list66 = input("Enter the string :").split()
print("List of words of the string :",list66)

Enter the string : hello bro, how are you.

List of words of the string : ['hello', 'bro,', 'how', 'are', 'you.']

### 44. Convert a list of words into a string.

In [6]:
list67 = input("Enter words of the list :").split()
print("List is :",list67)
str40 = ""
for i in list67 :
    str40 = " ".join(list67)
print("String of words of list is :",str40)

Enter words of the list : hey bro how are you ?

List is : ['hey', 'bro', 'how', 'are', 'you', '?']
String of words of list is : hey bro how are you ?

### 45. Create a list of the first `n` powers of 2.

In [9]:
n2 = int(input("Enter the the poewr till which you wanna list of 2's powers :"))
list68 = []

for i in range(1,n2+1) :
    list68.append(2**i)
print("List of the first `n` powers of 2 is :",list68)

Enter the the poewr till which you wanna list of 2's powers : 5

List of the first `n` powers of 2 is : [2, 4, 8, 16, 32]

### 46. Find the longest string in a list of strings

In [11]:
list69 = input("Enter string element of the list(separated by commas) :").split(",")
a = 0
b = 0
c = ""
d = ""
for i in range(len(list69) - 1) :
    a = len(list69[i])
    if a == len(list69[i+1]) :
        b = len(list69[i+1])
        c = list69[i+1]
    elif a < len(list69[i+1]) and b <= len(list69[i+1]) :
        b = len(list69[i+1])
        c = list69[i+1]
    else :
        d = list69[i]
if len(d) <= len(c) :
    print("Longest string in the list is :",c)
else :
    print("longest string is the list is :",d)

Enter string element of the list(separated by commas) : hey,bro,in,which,college,do,you,study

Longest string in the list is : college

### 47. Find the shortest string in a list of strings.

In [4]:
list70 = input("Enter the elements of the list(separated by commas) :").split(",")
a = 0
b = 0
c = ""
d = ""

for i in range(len(list70)-1) :
    a = len(list70[i])
    
    if a == len(list70[i+1]) :
        b = len(list70[i+1])
        c = list70[i+1]
    elif a > len(list70[i+1]) and b >= len(list70[i+1]) :
        b = len(list70[i+1])
        c = list70[i+1]
if len(d) <= len(c) :
    print("Shortest string in list is :",d)
else :
    print("Shortest string in list is :",c)

Enter the elements of the list(separated by commas) : hey,bro,what,is,your,name

Shortest string in list is :

### 48. Create a list of the first `n` triangular numbers.`

In [8]:
tri_n = int(input("Enter the number of element of list :"))
a = 0
list71 = []

for i in range(1,tri_n+1) :
    a += i
    list71.append(a)
print("List of first",tri_n,"triangular numbesr is :",list71)

Enter the number of element of list : 8

List of first 8 triangular numbesr is : [1, 3, 6, 10, 15, 21, 28, 36]

### 49. Check if a list contains another list as a subsequence.

In [20]:
list72 = [12,23,65,["hello"],756,85,["new"]]
list73 = []

for i in list72 :
    if type(i) == list :
        list73.append(i)
if len(list72) > 0 :
    print("Sublists in the main list are :",list73)
else :
    print("There are no sublists in the main list.")

Sublists in the main list are : [['hello'], ['new']]

### 50. Swap two elements in a list by their indices.

In [17]:
list74 = input("Enter the elements of the list :").split()


a,b = map(int,input("Enter the indices of the element which you wanna swap :").split())

if a <= len(list74) -1 and b <= len(list74) -1 :
    list74[a],list74[b] = list74[b],list74[a]
    print("Updated list is :",list74)
else :
    print("Enter valid indices.")

Enter the elements of the list : 1 2 3 4 5 6 7 8 9
Enter the indices of the element which you wanna swap : 3 8

Updated list is : ['1', '2', '3', '9', '5', '6', '7', '8', '4']

# Tuple Based Practice Problem :

### 1. Create a tuple with integers from 1 to 5.

In [18]:
tuple1 = (1,2,3,4,5)
print(tuple1)

(1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [19]:
tuple2 = (1,2,3,4,5,6,7,8,9)
print("Third element of the tuple is :",tuple2[2])

Third element of the tuple is : 3

### 3. Find the length of a tuple without using the `len()` function.

In [20]:
tuple3 = tuple(input("Enter the elements of the tuple :").split())
len_tuple3 = 0

for i in tuple3 :
    len_tuple3 += 1
print("Length of tupke is :",len_tuple3)

Enter the elements of the tuple : 1 2 3 hello bro

Length of tupke is : 5

### 4. Count the occurrences of an element in a tuple.

In [21]:
tuple4 = tuple(input("Enter the elements of tuple :").split())
ele_tuple4 = input("Enter the element whose occurence you wanna check :")

oc_ele_tuple4 = tuple4.count(ele_tuple4)
print("Occurence of",ele_tuple4,"in tuple is :",oc_ele_tuple4)

Enter the elements of tuple : 1 2 3 4 5 6 1 2 3 7 8 9 0 3
Enter the element whose occurence you wanna check : 3

Occurence of 3 in tuple is : 3

### 5. Find the index of the first occurrence of an element in a tuple.

In [6]:
tuple5 = tuple(input("Enter the elements of the tuple :").split())
ele_tuple5 = input("Enter the element whose first occurence you wanna check in tuple :")

if ele_tuple5 in tuple5 :
    print("First occurence of",ele_tuple5,"in tuple is at index number :",tuple5.index(ele_tuple5))
else :
    print("Element doesn't exists in tuple.")

Enter the elements of the tuple : 1 2 3 4 5 1 2 3 0 4 6
Enter the element whose first occurence you wanna check in tuple : 7

Element doesn't exists in tuple.

### 6. Check if an element exists in a tuple.

In [10]:
tuple6 = tuple(input("Enter the elements of the tuple :").split())
ele_tuple6 = input("Enter the element existence you wanna check in tuple :")

if ele_tuple6 in tuple6 :
    print(ele_tuple6,"exists in tuple at index number :",tuple6.index(ele_tuple6))
else :
    print("Element doesn't exists in tuple.")

Enter the elements of the tuple : 1 2 3 4 5
Enter the element existence you wanna check in tuple : 0

Element doesn't exists in tuple.

### 7. Convert a tuple to a list.

In [11]:
tuple7 = (1,2,3,4,5)
list75 = list(tuple7)
print("Tuple converted to list is :",list75)

Tuple converted to list is : [1, 2, 3, 4, 5]

### 8. Convert a list to a tuple.

In [12]:
list76 = [1,2,3,4,5]
tuple8 = tuple(list76)
print("List converted to Tuple is :",tuple8)

List converted to Tuple is : (1, 2, 3, 4, 5)

### 9. Unpack the elements of a tuple into variables

In [4]:
tuple9 = tuple(input("Enter the elements of tuple(3) :").split())
a,b,c = tuple9
print("Variable 1 :",a)
print("Variable 2 :",b)
print("Variable 3 :",c)

Enter the elements of tuple(3) : 1 2 3

Variable 1 : 1
Variable 2 : 2
Variable 3 : 3

### 10. Create a tuple of even numbers from 1 to 10.

In [9]:
list76 = []

for i in range(1,11) :
    if i%2 == 0 :
        list76.append(i)
tuple10 = tuple(list76)
print("Tuple of even numbers from 1 to 10 is :",tuple10)

Tuple of even numbers from 1 to 10 is : (2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [13]:
list77 = [i for i in range(1,11,2)]
tuple11 = tuple(list77)
print("Tuple of odd numbers from 1 to 10 is :",tuple11)

Tuple of odd numbers from 1 to 10 is : (1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [14]:
tuple12 = (1,2,3,4)
tuple13 = (5,6,7,8)
tuple14 = tuple12 + tuple13
print("Concated tuple is :",tuple14)

Concated tuple is : (1, 2, 3, 4, 5, 6, 7, 8)

### 13. Repeat a tuple three times

In [15]:
tuple15 = (1,2,3,4,5)
tuple16 = tuple15*3
print("3 times repeated tuple is :",tuple16)

3 times repeated tuple is : (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

### 14. Check if a tuple is empty.

In [16]:
tuple17 = (1,2,3)
tuple18 = ()

if not tuple17 :
    print("tuple17 is empty.")
else :
    print("tuple17 is not empty.")
if not tuple18 :
    print("tuple18 is empty.")
else :
    print("tuple18 is not empty.")

tuple17 is not empty.
tuple18 is empty.

### 15. Create a nested tuple.

In [17]:
nested_tuple1 = ((1,2,3),("Hero","Balveer"),("@","$"))
print("Nested tuple is :",nested_tuple1)

Nested tuple is : ((1, 2, 3), ('Hero', 'Balveer'), ('@', '$'))

### 16. Access the first element of a nested tuple.

In [19]:
nested_tuple2 = ((1,2,3),("Hero","Balveer"),("@","$"))
nested_ele1 = nested_tuple2[0]
print("First element of nested tuple is :",nested_ele1)

First element of nested tuple is : (1, 2, 3)

### 17. Create a tuple with a single element.

In [21]:
tuple19= (9,)
print("tuple of single element is :",tuple19)

tuple of single element is : (9,)

### 18. Compare two tuples.

In [22]:
tuple20 = (1,2,3,4)
tuple21 = (1,2,3)

if tuple20 > tuple21 :
    print("tuple20 is greater than tuple21")
elif tuple20 < tuple21 :
    print("tuple20 is lesser than tuple21")
else :
    print("Both the tuples are equal.")

tuple20 is greater than tuple21

### 19. Delete a tuple.

In [23]:
tuple22 = ("Name")
del tuple22
print(tuple22)     #There will be a name error due to deletion of the tuple.

NameError: name 'tuple22' is not defined

### 20. Slice a tuple.

In [30]:
tuple23 = tuple(input("Enter the element of the tuple:").split())
a,b = map(int,input("Enter the lower and upper index value of slicing :").split())

if a < len(tuple23) and b < len(tuple23) :
    sliced_tuple23 = tuple23[a:b+1]
    print("Sliced tuple is :",sliced_tuple23)
else :
    print("Enter valid indices value.")

Enter the element of the tuple: 1 2 3 4 5
Enter the lower and upper index value of slicing : 2 4

Sliced tuple is : ('3', '4', '5')

### 21. Find the maximum value in a tuple.

In [32]:
tuple24 = tuple(map(int,input("Enter the element of the tuple :").split()))
a = 0

for i in tuple24 :
    if i > a:
        a = i
print("Maximum value in tuple is :",a)

Enter the element of the tuple : 1 2 9 3 5 0 8

Maximum value in tuple is : 9

### 22. Find the minimum value in a tuple

In [33]:
tuple25 = tuple(map(int,input("Enter the element of the tuple :").split()))
a = 0

for i in tuple24 :
    if i <= a:
        a = i
print("Minimum value in tuple is :",a)

Enter the element of the tuple : 1 2 0 5 6

Minimum value in tuple is : 0

### 23. Convert a string to a tuple of characters.

In [39]:
tuple26 = ()
str42 = "Lalit"
for i in str42:
    tuple26 += tuple(i)
print("String converted to tuple of characters is :",tuple26)

String converted to tuple of characters is : ('L', 'a', 'l', 'i', 't')

### 24. Convert a tuple of characters to a string.

In [40]:
str43 = ""
tuple27 = ("L","a","l","i","t")
for i in tuple27 :
    str43 += i
print("Tuple of characters converted to string is :",str43)

Tuple of characters converted to string is : Lalit

### 25. Create a tuple from multiple data types.

In [41]:
tuple28 = (1,"Hello",True,1.2,("Hey Bro"),[1,2,3],{"Key" : "Value"})
print("Tuple of multiple datatypes is :",tuple28)

Tuple of multiple datatypes is : (1, 'Hello', True, 1.2, 'Hey Bro', [1, 2, 3], {'Key': 'Value'})

### 26. Check if two tuples are identical.

In [43]:
tuple29 = tuple(input("Enter the elements of first tuple :").split())
tuple30 = tuple(input("Enter the elements of second tuple :").split())

if tuple29 == tuple30 :
    print("Both the tuples are identical.")
else :
    print("Tuples are inidentical.")

Enter the elements of first tuple : 1 2 3 4
Enter the elements of second tuple : 1 2 3

Tuples are inidentical.

### 27. Sort the elements of a tuple.

In [2]:
tuple31 = tuple(input("Enter the elements of tuple :").split())
tuple31 = tuple(sorted(tuple31))
print("Sorted tuple is :",tuple31)

Enter the elements of tuple : 1 2 0 7 2 3 5

Sorted tuple is : ('0', '1', '2', '2', '3', '5', '7')

### 28. Convert a tuple of integers to a tuple of strings.

In [4]:
tuple32 = (1,2,3,4,5)
list77 = [str(i) for i in tuple32]
tuple33 = tuple(list77)
print("Tuple of strings :",tuple33)

Tuple of strings : ('1', '2', '3', '4', '5')

### 29. Convert a tuple of strings to a tuple of integers.

In [6]:
tuple34 = (1,2,3,4,5)
tuple34 = tuple(int(i) for i in tuple34)
print("Tuple of integers :",tuple34)

Tuple of integers : (1, 2, 3, 4, 5)

### 30. Merge two tuples.

In [7]:
tuple35 = (1,2,3)
tuple36 = (4,5,6)
merged_tuple = tuple35 + tuple36
print("Merged tuple is :",merged_tuple)

Merged tuple is : (1, 2, 3, 4, 5, 6)

### 31. Flatten a nested tuple

In [13]:
tuple37 = (1,2,(3,4),("Hello Bro"),5,6,("This is new"))
list78 = []

for i in tuple37 :
    if type(i) == tuple :
        list78 += i
    else :
        list78.append(i)
print(tuple(list78))

(1, 2, 3, 4, 'Hello Bro', 5, 6, 'This is new')

### 32. Create a tuple of the first 5 prime numbers.

In [22]:
prime_numbers = []

for i in range(2,100) :
    if len(prime_numbers) < 5 :
        for j in range(2,i) :
            if i%j == 0 :
                break
        else :
            prime_numbers.append(i)
            
tuple38 = tuple(prime_numbers)

print("tuple of first 5 prime numbers is :",tuple38)

tuple of first 5 prime numbers is : (2, 3, 5, 7, 11)

### 33. Check if a tuple is a palindrome.

In [26]:
tuple39 = tuple(input("Enter the elements of tuple :").split())
tuple40 = ()

for i in tuple39 :
    tuple40 += tuple(i)
if tuple39 == tuple40 :
    print("Tuple is palindrome.")
else :
    print("Tuple isn't palindrome.")

Enter the elements of tuple : Lalit

Tuple isn't palindrome.

### 34. Create a tuple of squares of numbers from 1 to 5.

In [27]:
tuple41 = tuple(i*i for i in range(1,6))
print("Tuple of squares of 1 to 5 is :",tuple41)

Tuple of squares of 1 to 5 is : (1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [28]:
tuple42 = (1,2,3,4,5,6,7,8,9,10,17,16,20,26,25)
tuple43 = tuple(i for i in tuple42 if i%2 != 0)
print("Filtered tuple is :",tuple43)

Filtered tuple is : (1, 3, 5, 7, 9, 17, 25)

### 36. Multiply all elements in a tuple by 2.

In [30]:
tuple44 = (1,2,3,4,5)
tuple45 = tuple(i*2 for i in tuple44)
print("New tuple is :",tuple45)

New tuple is : (2, 4, 6, 8, 10)

### 37. Create a tuple of random numbers.

In [1]:
import random

a,b = map(int,input("Enter the range of numbers for the tuple :").split())
len_tuple46 = int(input("Enter the length of the tuple :"))

tuple46 = tuple(random.randint(a,b+1) for _ in range(len_tuple46))
print("tuple of random numbers is :",tuple46)

Enter the range of numbers for the tuple : 1 10
Enter the length of the tuple : 10

tuple of random numbers is : (3, 10, 1, 10, 9, 9, 2, 10, 8, 9)

### 38. Check if a tuple is sorted.

In [4]:
tuple47 = tuple(map(int,input("Enter the elements of tuple :").split()))
tuple48 = tuple(sorted(tuple47))
tuple49 = tuple(sorted(tuple47, reverse = True))

if tuple47 == tuple48 :
    print("Tuple is sorted in ascending order.")
elif tuple47 == tuple49 :
    print("Tuple is sorted in descending order.")
else :
    print("Tuple isn't sorted.")

Enter the elements of tuple : 4 3 2 1

Tuple is sorted in descending order.

### 39. Rotate a tuple to the left by `n` positions.

In [1]:
tuple50 = tuple(input("Enter the elements of the tuple :").split())
rot_tup50 = int(input("Enter the number by which you wanna rotate tuple from left :"))

rotated_tup50 = tuple50[-1:-rot_tup50-1:-1] + tuple50[:len(tuple50)-rot_tup50]
print("Rotated tuple is :",rotated_tup50)

Enter the elements of the tuple : 1 2 3 4 5 6
Enter the number by which you wanna rotate tuple from left : 5

Rotated tuple is : ('6', '5', '4', '3', '2', '1')

### 40. Rotate a tuple to the right by `n` positions.`

In [6]:
tuple51 = tuple(input("Enter the elements of tuple :").split())
rot_tup51 = int(input("Enter the number by which you wanna rotate your tuple from right side :"))

rotated_tup51 = tuple51[rot_tup51:] + tuple51[:rot_tup51]
print("Rotated tuple is :",rotated_tup51)

Enter the elements of tuple : 1 2 3 4 5 6
Enter the number by which you wanna rotate your tuple from right side : 2

Rotated tuple is : ('3', '4', '5', '6', '1', '2')

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [9]:
fib_list = [0,1]

for i in range(3) :
    fib_list.append(fib_list[i] + fib_list[i+1])
print("Tuple of first 5 fibonacci numbers is :",tuple(fib_list))

Tuple of first 5 fibonacci numbers is : (0, 1, 1, 2, 3)

### 42. Create a tuple from user input.

In [10]:
tuple52 = tuple(input("Enter the elements of tuple :").split())
print("User entered tuple is :",tuple52)

Enter the elements of tuple : hey bro how are you

User entered tuple is : ('hey', 'bro', 'how', 'are', 'you')

### 43. Swap two elements in a tuple

In [2]:
tuple53 = tuple(input("Enter the elements of tuple :").split())
a,b = map(int,input("Enter the indices of element which you wanna swap :").split())
list81 = []

for i in range(len(tuple53)) :
    if i not in (a,b) :
        list81.append(tuple53[i])
    elif i == a :
        list81.append(tuple53[b])
    else :
        list81.append(tuple53[a])
        
swapped_tuple53 = tuple(list81)
print("Swapped tuple is :",swapped_tuple53)

Enter the elements of tuple : 1 2 3 4 5 6 7 8
Enter the indices of element which you wanna swap : 1 7

Swapped tuple is : ('1', '8', '3', '4', '5', '6', '7', '2')

### 44. Reverse the elements of a tuple.

In [5]:
tuple54 = (1,2,3,4)
reversed_tuple54 = tuple54[::-1]
print("Reversed tuple is :",reversed_tuple54)

Reversed tuple is : (4, 3, 2, 1)

### 45. Create a tuple of the first `n` powers of 2.

In [6]:
n = int(input("Enter the value of n :"))
tuple55 = tuple(2**i for i in range(1,n+1))
print("Tuple of first",n,"powers of 2 is :",tuple55)

Enter the value of n : 5

Tuple of first 5 powers of 2 is : (2, 4, 8, 16, 32)

### 46. Find the longest string in a tuple of strings.

In [8]:
tuple56 = tuple(input("Enter the string elements for the tuple :").split())
j = 0

for i in range(len(tuple56)) :
    if len(tuple56[i]) >= j :
        j = len(tuple56[i])
        long_str = tuple56[i]
print("Longest string in tuple is :",long_str)

Enter the string elements for the tuple : hey bro in which college do you study

Longest string in tuple is : college

### 47. Find the shortest string in a tuple of strings.

In [15]:
tuple57 = tuple(input("Enter the string elements of the tuple :").split())
short_str = min(tuple57, key=len)
print("Shortest string in tuple is :",short_str)

Enter the string elements of the tuple : in which college do you study

Shortest string in tuple is : in

### 48. Create a tuple of the first `n` triangular numbers

In [17]:
n = int(input("Enter the value of n :"))
tuple58 = tuple((i*(i+1))//2 for i in range(1,n+1))
print("Tuple of first",n,"triangular numbers is :",tuple58)

Enter the value of n : 5

Tuple of first 5 triangular numbers is : (1, 3, 6, 10, 15)

### 49. Check if a tuple contains another tuple as a subsequence.

In [2]:
tuple59 = (1,2,3,4,5,6,7,8)
sub_tuple = (2,3,4)
if set(sub_tuple).issubset(tuple59) :
    print(sub_tuple,"is a subtuple of primary tuple.")
else :
    print(sub_tuple,"is not a subtuple of primary tuple.")

(2, 3, 4) is a subtuple of primary tuple.

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [4]:
n = int(input("Enter the length of tuple :"))
tuple60 = tuple(i%2 for i in range(1,n+1))
print("Tuple of alternating 1s and 0s of length",n,"is :",tuple60)

Enter the length of tuple : 6

Tuple of alternating 1s and 0s of length 6 is : (1, 0, 1, 0, 1, 0)

# Set Based Practice Problem :

### 1. Create a set with integers from 1 to 5.

In [7]:
set1 = {1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

### 2. Add an element to a set.

In [9]:
set2 = {1,2,3,4,5}
set2.add(6)
print("Updated set is :",set2)

Updated set is : {1, 2, 3, 4, 5, 6}

### 3. Remove an element from a set

In [2]:
set3 = set(input("Enter the elements of the set :").split())
set3_ele = input("Enter thes element which you wanna remove from the set :")

if set3_ele in set3 :
    set3.remove(set3_ele)
    print("Updated set is :",set3)
else :
    print("Element dosen't exist in the set.")

Enter the elements of the set : 1 2 3 4 5
Enter the element which you wanna remove from the set : 3

Updated set is : {'2', '1', '5', '4'}

### 4. Check if an element exists in a set.

In [1]:
set4 = set(input("Enter the elements of the set :").split())
set4_ele = input("Enter thes element which you wanna check in the set :")

if set4_ele in set4 :
    print("Element exist in set.")
else :
    print("Element dosen't exist in the set.")

Enter the elements of the set : 1 2 3 4 5
Enter thes element which you wanna remove from the set : 2

Element exist in set.

### 5. Find the length of a set without using the `len()` function.

In [2]:
set5 = set(input("Enter the element of the set :").split())
len_set5 = 0

for i in set5 :
    len_set5 += 1
print("Length of set is :",len_set5)

Enter the element of the set : 1 2 3 4 5 6

Length of set is : 6

### 6. Clear all elements from a set.

In [3]:
set6 = {1,2,3,4,5}
set6.clear()
print("Cleared set is :",set6)

Cleared set is : set()

### 7. Create a set of even numbers from 1 to 10.

In [9]:
set7 = set()
for i in range(1,11) :
    if i%2 == 0 :
        set7.add(i)
print("set of even numbers from 1 to 10 is :",set7)

set of even numbers from 1 to 10 is : {2, 4, 6, 8, 10}

### 8. Create a set of odd numbers from 1 to 10.

In [11]:
set8 = set()
for i in range(1,11) :
    if i%2 != 0 :
        set8.add(i)
print("set of odd numbers from 1 to 10 is :",set8)

set of odd numbers from 1 to 10 is : {1, 3, 5, 7, 9}

### 9. Find the union of two sets.

In [2]:
set9 = set(input("Enter the elements of first set :").split())
set10 = set(input("Enter the elements of 2nd set :").split())
union_set = set()

for i in set9 :
     union_set.add(i)
for j in set10 :
        union_set.add(j) 
print("Union of set9 and set10 is :",union_set)

Enter the elements of first set : 1 2 3 4 5 6
Enter the elements of 2nd set : 4 5 6 7 8 9

Union of set9 and set10 is : {'4', '6', '5', '9', '8', '7', '3', '1', '2'}

### 10. Find the intersection of two sets.

In [5]:
set11 = set(input("Enter the elements of 1st set :").split())
set12 = set(input("Enter the elements of 2nd set :").split())
inter_set = set()

if len(set11) >= len(set12) :
    for i in set11 :
        if i in set12 :
            inter_set.add(i)
else :
    for i in set12 :
        if i in set11 :
            inter_set.add(i)

print("Intersection of set11 and set12 is :",inter_set)

Enter the elements of 1st set : 1 2 3 4 5 6
Enter the elements of 2nd set : 4 5 6 7 8 9

Intersection of set11 and set12 is : {'4', '5', '6'}

### 11. Find the difference between two sets.

In [6]:
set13 = set(input("Enter the elements of first set :").split())
set14 = set(input("Enter the elements of 2nd set :").split())

set13_set14 = set13.difference(set14)
set14_set13 = set14.difference(set13)

print("Difference between set13 and set14 is :",set13_set14)
print("Difference between set14 and set13 is :",set14_set13)

Enter the elements of first set : 1 2 3 4 9 0
Enter the elements of 2nd set : 3 4 5 6 7 8

Difference between set13 and set14 is : {'9', '1', '0', '2'}
Difference between set14 and set13 is : {'7', '5', '6', '8'}

### 12. Check if a set is a subset of another set.

In [10]:
set15 = set(input("Enter the elements of 1st set :").split())
set16 = set(input("Enter the elements of 2nd set :").split())

if set15.issubset(set16) :
    print("set15 is subset of set16.")
elif set16.issubset(set15) :
    print("set16 is subset of set15.")
else :
    print("No set is subset of another one.")

Enter the elements of 1st set : 1 2 3 4 5 6
Enter the elements of 2nd set : 1 2 3 4

set16 is subset of set15.

### 13. Check if a set is a superset of another set.

In [11]:
set17 = set(input("Enter the elements of 1st set :").split())
set18 = set(input("Enter the elements of 2nd set :").split())

if set17.issuperset(set18) :
    print("set 17 is superset of set18.")
elif set18.issuperset(set17) :
    print("set18 is superset of set17.")
else :
    print("No set is superset of another one.")

Enter the elements of 1st set : 1 2 3
Enter the elements of 2nd set : 1 2 3 4 5 6

set18 is superset of set17.

### 14. Create a set from a list.

In [12]:
list83 = [1,2,3,4]
print("Set from list is :",set(list83))

Set from list is : {1, 2, 3, 4}

### 15. Convert a set to a list.

In [13]:
set19 = {1,2,3,4,5}
print("List from set is :",list(set19))

List from set is : [1, 2, 3, 4, 5]

### 16. Remove a random element from a set.

In [30]:
import random

set20 = {1,2,3,4,5}
random_var = random.choice(list(set20))
set20.remove(random_var)
print("Updated set is :",set20)

Updated set is : {1, 3, 4, 5}

### 17. Pop an element from a set.

In [31]:
set21 = {1,2,3,4}
pop_item = set21.pop()
print("Popped item from set is :",pop_item)

Popped item from set is : 1

### 18. Check if two sets have no elements in common.

In [1]:
set22 = set(input("Enter the elements of 1st set :").split())
set23 = set(input("Enter the elements of 2nd set :").split())

inter_set2 = set22.intersection(set23)

if not inter_set2 :
    print("There are no common elements in both sets.")
else :
    print("Common elements in sets are :",inter_set2)

Enter the elements of 1st set : 1 2 3 4 5
Enter the elements of 2nd set : 6 7 8 9

There are no common elements in both sets.

### 19. Find the symmetric difference between two sets.

In [2]:
set24 = set(input("Enter the elements of 1st set :").split())
set25 = set(input("Enter the elements of 2nd set :").split())

sym_diff = set24.symmetric_difference(set25)
print("Symmetric difference between sets is :",sym_diff)

Enter the elements of 1st set : 1 2 3 4 5
Enter the elements of 2nd set : 4 5 6 7 8 9

Symmetric difference between sets is : {'8', '3', '6', '9', '2', '7', '1'}

### 20. Update a set with elements from another set.

In [3]:
set26 = set(input("Enter the elements of 1st set :").split())
set27 = set(input("Enter the elements of 2nd set :").split())

set26.update(set27)
print("Updated set is :",set26)

Enter the elements of 1st set : 1 2 3 4
Enter the elements of 2nd set : 5 6 7 8

Updated set is : {'8', '3', '4', '6', '2', '7', '5', '1'}

### 21. Create a set of the first 5 prime numbers.

In [5]:
set27 = set()

for i in range(2,100) :
    if len(set27) < 5 :
        for j in range(2,i) :
            if i%j == 0 :
                break
        else :
            set27.add(i)
print("Set of first 5 prime numbers is :",set27)

Set of first 5 prime numbers is : {2, 3, 5, 7, 11}

### 22. Check if two sets are identical

In [7]:
set28 = set(input("Enter the elements of 1st set :").split())
set29 = set(input("Enter the elements of 2nd set :").split())

if set28 == set29 :
    print("Sets are identical.")
else :
    print("Sets aren't identical.")

Enter the elements of 1st set : 1 2 3 4
Enter the elements of 2nd set : 4 5 6 7

Sets aren't identical.

### 23. Create a frozen set.

In [8]:
set30 = {1,2,3,4,5}
frozenset1 = frozenset(set30)
print("Frozen set is :",frozenset1)

Frozen set is : frozenset({1, 2, 3, 4, 5})

### 24. Check if a set is disjoint with another set.

In [10]:
set31 = {1,2,3,4}
set32 = {2,3,4}
disjoint_status = set31.isdisjoint(set32)
print("Are sets disjoint ? ",disjoint_status)

Are sets disjoint ?  False

### 25. Create a set of squares of numbers from 1 to 5.

In [12]:
set33 = set(i*i for i in range(1,6))
print("Set of squares of numbers from 1 to 5 is :",set33)

Set of squares of numbers from 1 to 5 is : {1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [14]:
set34 = {1,2,3,4,5,6,7,8,9}
list84 = []
for i in set34 :
    if i%2 == 0 :
        list84.append(i)

for i in list84 :
    set34.remove(i)
print("Even numbers in set are",list84)
print("Filtered set is :",set34)

Even numbers in set are [2, 4, 6, 8]
Filtered set is : {1, 3, 5, 7, 9}

### 27. Multiply all elements in a set by 2.

In [1]:
set35 = {1,2,3,4,5}
updated_set35 = set(i*2 for i in set35)
print("Updated set is :",updated_set35)

Updated set is : {2, 4, 6, 8, 10}

### 28. Create a set of random numbers.

In [6]:
import random

set36_n = int(input("Enter the no of elements in set :"))
a,b = map(int,input("Enter the range of elements in set :").split())

set36 = set(random.sample(range(a,b+1),set36_n))
print("Set of random numbers is :",set36)

Enter the no of elements in set : 5
Enter the range of elements in set : 1 10

Set of random numbers is : {1, 2, 3, 4, 7}

### 29. Check if a set is empty

In [8]:
set37 = set()
set38 = {1,2,3}

if not set37 :
    print("Set37 is empty.")
else :
    print("Set37 isn't empty.")
if not set38 :
    print("Set38 is empty.")
else :
    print("Set38 isn't empty.")

Set37 is empty.
Set38 isn't empty.

### 30. Create a nested set (hint: use frozenset).

In [11]:
set39 = {1,2,3,4}
set40 = {2,3,4,5}
frozenset_2 = frozenset(set39)
frozenset_3 = frozenset(set40)

nested_set = {frozenset_2,frozenset_3}
print("Nested set is :",nested_set)

Nested set is : {frozenset({1, 2, 3, 4}), frozenset({2, 3, 4, 5})}

### 31. Remove an element from a set using the discard method.

In [12]:
set41 = {1,2,3,4,5,6,7}
set41.discard(5)
print("Updated set is :",set41)

Updated set is : {1, 2, 3, 4, 6, 7}

### 32. Compare two sets.

In [18]:
set42 = {1, 2, 3, 4, 5}
set43 = {4, 5, 6, 7, 8}

is_subset = set42.issubset(set43)
is_superset = set42.issuperset(set43)

intersection = set42.intersection(set43)
union = set42.union(set43)

difference1 = set42.difference(set43)
difference2 = set43.difference(set42)

print("Set 1:", set42)
print("Set 2:", set43)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

### 33. Create a set from a string.

In [21]:
str1 = "Hey brother"
set44 = set(str1.split())
print("Set of words of string :",set44)

Set of words of string : {'brother', 'Hey'}

### 34. Convert a set of strings to a set of integers.

In [26]:
set45 = {"1","2","3","4","5"}
list00 = list(set45)

for i in range(len(set45)) :
    list00[i] = int(list00[i])
    
print("Updated set is :",set(list00))

Updated set is : {1, 2, 3, 4, 5}

### 35. Convert a set of integers to a set of strings.

In [27]:
set46 = {1,2,3,4,5}
list000 = list(set45)

for i in range(len(set45)) :
    list000[i] = str(list000[i])
    
print("Updated set is :",set(list000))

Updated set is : {'2', '3', '1', '4', '5'}

### 36. Create a set from a tuple.

In [29]:
tuple0 = (1,2,3,4,5)
print("Set from tuple is :",set(tuple0))

Set from tuple is : {1, 2, 3, 4, 5}

### 37. Convert a set to a tuple.

In [30]:
set47 = {1,2,3,4,5}
print("Tuple from set is :",tuple(set47))

Tuple from set is : (1, 2, 3, 4, 5)

### 38. Find the maximum value in a set.`

In [32]:
set48 = set(map(int,input("Enter the elements of the set :").split()))
max_set48 = max(set48)
print("Maximum value in set48 is :",max_set48)

Enter the elements of the set : 1 2 6 7 8 3 4 5

Maximum value in set48 is : 8

### 39. Find the minimum value in a set.

In [33]:
set49 = set(map(int,input("Enter the elements of the set :").split()))
min_set49 = min(set49)
print("Minimum value in set49 is :",min_set49)

Enter the elements of the set : 1 2 3 4 5 6 0

Minimum value in set49 is : 0

### 40. Create a set from user input.

In [34]:
set50 = set(input("Enter the elements of the set :").split())
print("User entered set is :",set50)

Enter the elements of the set : hello bro

User entered set is : {'hello', 'bro'}

### 41. Check if the intersection of two sets is empty.

In [35]:
set51 = set(map(int,input("Enter the elements of 1st set :").split()))
set52 = set(map(int,input("Enter the elements of 2nd set :").split()))

if not set51.intersection(set52) :
    print("Intersection of set1 and set2 is empty.")
else :
    print("Intersection of sets isn't empty.")

Enter the elements of 1st set : 1 2 3 4 5
Enter the elements of 2nd set : 3 4 5 6 7

Intersection of sets isn't empty.

### 42. Create a set of the first 5 Fibonacci numbers

In [7]:
set53 = set()
a,b = 0,1

for i in range(6) :
    set53.add(a)
    a,b = b,a+b
print("Set of first five Fibonacci numbers is :",set53)

Set of first five Fibonacci numbers is : {0, 1, 2, 3, 5}

### 43. Remove duplicates from a list using sets.

In [8]:
list85 = [1,2,3,4,5,1,2,7,8,9,6,0,1,5]
list85 = list(set(list85))
print("List with removed duplicates is :",list85)

List with removed duplicates is : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 44. Check if two sets have the same elements, regardless of their count.

In [9]:
set54 = {1,2,3,4,5}
set55 = {1,2,3,4,5,2,4,5,1,3,5,2,1,4,5,1}

if set54 == set55 :
    print("Sets have the same elements")
else :
    print("Sets don't have the same elements")

Sets have the same elements

### 45. Create a set of the first `n` powers of 2.

In [11]:
n = int(input("Enter the value of n :"))
set56 = set(2**i for i in range(1,n+1))
print("Set of the first",n,"powers of 2 is :",set56)

Enter the value of n : 5

Set of the first 5 powers of 2 is : {32, 2, 4, 8, 16}

### 46. Find the common elements between a set and a list.

In [12]:
list86 = [1,2,3,4,5,6,7,8,9,0]
set57 = {1,2,3,4}
set58 = set()

for i in set57 :
    if i in list86 :
        set58.add(i)
        
print("Common elements between set and a list are :",set58)

Common elements between set and a list are : {1, 2, 3, 4}

### 47. Create a set of the first `n` triangular numbers.

In [16]:
n = int(input("Enter the value of n :"))
set59 = set((n*(n+1))//2 for n in range(1,n+1))
print("Set of the first",n,"triangular numbers is :",set59)

Enter the value of n : 5

Set of the first 5 triangular numbers is : {1, 3, 6, 10, 15}

### 48. Check if a set contains another set as a subset.

In [17]:
set60 = set(input("Enter the elements of 1st set :").split())
set61 = set(input("Enter the elements of 2nd set :").split())

is_subset = set61.issubset(set60)

if is_subset :
    print("Set2 is subset of Set1.")
else :
    print("Set2 isn't subset of Set1.")

Enter the elements of 1st set : 1 2 3 4 5 6
Enter the elements of 2nd set : 1 2 3

Set2 is subset of Set1.

### 49. Create a set of alternating 1s and 0s of length `n`.

In [20]:
n = int(input("Enter the value of n :"))
set62 = set(i%2 for i in range(1,n+1))
print("Set of alternating 1s and 0s of length",n,"is :",set62)

Enter the value of n : 5

Set of alternating 1s and 0s of length 5 is : {0, 1}

### 50. Merge multiple sets into one.

In [24]:
set63 = {1,2,3}
set64 = {4,5,6}
set65 = {7,8,9}

merged_set = set63.union(set64,set65)
print("Merged Set is :",merged_set)

Merged Set is : {1, 2, 3, 4, 5, 6, 7, 8, 9}